<component name="ArtifactManager">
  <artifact type="war" name="SpringMVC5.37:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>false</exploded>
        <module>SpringMVC5.37</module>
        <packaging>war</packaging>
        <unpackNestedArchives>false</unpackNestedArchives>
      </options>
    </properties>
    <root id="archive" name="SpringMVC5.37.war">
      <element id="artifact" artifact-name="SpringMVC5.37:war exploded" />
    </root>
  </artifact>
</component>